#octopus-subscribe-form {
  padding: 10px 15px;
  position: relative;
  width: 260px;
  border: 1px solid #d9daff6b;
  background: #d9daff6b;
  border-radius: 5px;
}
#octopus-subscribe-form h2 {
  margin: 0;
  font-size: 25px;
  text-transform: capitalize;
  font-weight: 700;
}
#octopus-subscribe-form .form-item {
  margin: 0 0 5px 0;
}
#octopus-subscribe-form .form-text {
  width: 100%;
  height: 25px;
  border-radius: 5px;
}
#octopus-subscribe-form #dest-wrapper {
  display: none;
}
#octopus-subscribe-form .button {
  margin: 0;
  color: #000;
}
#octopus-subscribe-form .messages__wrapper {
  padding: 0;
}
#octopus-subscribe-form .messages__wrapper > div {
  margin: 0;
  padding: 5px 0;
  padding-left: 23px;
  border: 0;
  background-position: 3px center;
}
#octopus-subscribe-form h3 {
  font-size: 18px;
  margin: 0;
  font-weight: bold;
}
.back-subs-btn {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  position: absolute;
  border-right: 15px solid #c5d3e0;
  border-bottom: 15px solid transparent;
  top: 50%;
  left: -16px;
  z-index: 9;
  margin: -15px 0 0 0;
  cursor: pointer;
}
